<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dt.serviceassistant">

    <!--允许程序打开网络套接字-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--允许程序设置内置sd卡的写权限-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--允许程序获取网络状态-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--允许程序访问WiFi网络信息-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--允许程序读写手机状态和身份-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--允许程序访问CellID或WiFi热点来获取粗略的位置-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!--定位包、导航包需要的额外权限（注：基础权限也需要）-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/icon_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".ui.activity.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--登录-->
        <activity android:name=".ui.activity.login.LoginActivity" />
        <!--密码登录-->
        <activity android:name=".ui.activity.login.LoginPwdActivity" />
        <!--主页-->
        <activity
            android:name=".ui.activity.main.MainActivity"
            android:launchMode="singleTask" />
        <!--主页- 老板-->
        <activity
            android:name=".ui.activity.mainboss.MainBossActivity"
            android:launchMode="singleTask" />

        <!--消息列表-->
        <activity android:name=".ui.activity.MessageListAcitivity" />
        <!--发货列表-->
        <activity android:name=".ui.activity.me.ShipmentListAcitivity" />
        <!--发货明细-->
        <activity android:name=".ui.activity.me.detail.ShipmentDetailAcitivity" />
        <!--保险列表-->
        <activity android:name=".ui.activity.me.InsuranceListAcitivity" />
        <!--保险明细-->
        <activity android:name=".ui.activity.me.detail.InsuranceDetailAcitivity" />
        <!--任务列表-->
        <activity android:name=".ui.activity.me.TaskListAcitivity" />
        <!--资讯详情-->
        <activity android:name=".ui.activity.InformationDetailActivity" />
        <!--运单详情-->
        <activity android:name=".ui.activity.WaybillDetailsActivity" />

        <!--webview-->
        <activity
            android:name=".mywebview.WebViewActivity"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="79864630d441a7311f27c984ab1a283b"/>
        <service android:name="com.amap.api.location.APSService"/>
    </application>

</manifest>